/* All page styles */

body
{
	/*background-color: #FF0000*/
	background-color: #e5e5e5;
	width: 100%;
	height: 100%;
}

.container h1
{
	text-align: center;
}

.container
{

	width: 100%;
	min-height: 90%;

}

.footer
{
	text-align: center;
}

/* ------------------------------ Loaders ------------------------------ */

.spinner
{
                box-shadow: #000000 23px -30px 0px, #000000 13px -36px 0px, #000000 0px -38px 0px, #000000 -9px -35px 0px;
                -webkit-animation: rotation 2s linear infinite;
                   -moz-animation: rotation 2s linear infinite;
                    -ms-animation: rotation 2s linear infinite;
                     -o-animation: rotation 2s linear infinite;
                        animation: rotation 2s linear infinite;
                width: 10px;
                height: 10px;

                max-width: 10px;
                max-height: 10px;

                /*border: solid 50px;
                border-top-color: red;
                border-right-color: green;
                border-bottom-color: blue;
                border-left-color: yellow;
*/
                background-color: none;
    border-radius: 50%;
    margin: auto;


    position: relative;


}

@-webkit-keyframes rotation
{
                from {
                                -webkit-transform: rotate(0deg);
                }
                to {
                                -webkit-transform: rotate(360deg);
                }
}
@-moz-keyframes rotation
{
                from {
                                -moz-transform: rotate(0deg);
                }
                to {
                                -moz-transform: rotate(360deg);
                }
}
@-ms-keyframes rotation
{
                from {
                                -ms-transform: rotate(0deg);
                }
                to {
                                -ms-transform: rotate(360deg);
                }
}
@-o-keyframes rotation
{
                from {
                                -o-transform: rotate(0deg);
                }
                to {
                                -o-transform: rotate(360deg);
                }
}
@keyframes rotation
{
                from {
                                transform: rotate(0deg);
                }
                to {
                                transform: rotate(360deg);
                }
}

/* ------------------------------ Navbar ------------------------------ */

.navbar-inverse
{
	background-color: #0f8bc0;
	border-color: #0f8bc0;
	display: table;
	/*table-layout:fixed;*/
	width: 100%;
	box-shadow: black 0px 0px 2px;
	max-height: 50px;
}

.navbar-inverse .navbar-brand
{
	margin: auto;
	width: 100%;
	color: white;
	display: table-cell;
	max-height: 50px;
}

.navbar-inverse .navbar-brand:hover
{
	color: white;
}

.navbar-back
{
	color: #fff;
	height: 100%;
	width: 50px;
	padding: 15px;
	background-color: #0f8bc0;
	border-right: 1px solid #06384D;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.navbar-back:active
{
	background-color: #0C6F9A;
}

.navbar-add-more-apps
{
	color: #fff;
	height: 100%;
	width: 50px;
	padding: 15px;
	background-color: #0f8bc0;
	border-left: 1px solid #06384D;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.navbar-add-more-apps:active
{
	background-color: #0C6F9A;
}

.title-text
{
	margin: auto;
	height: 100%;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold
}

/* ------------------------------ Glyph ------------------------------ */

.left-inner-addon
{
    position: relative;
}

.left-inner-addon input
{
    padding-left: 30px;    
}

.left-inner-addon i
{
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

/* ------------------------------ Dashboard ------------------------------ */

.dashboard-load-overlay
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #e5e5e5;
}

.dashboard-load-gif
{
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background-image: url('media/loading_spinner.gif');
	background-position: center;
	background-repeat: no-repeat;
}

.dashboard-top-buttons
{
	margin: 1px 1px;
	text-align: center;
	display: inline-block;
}

.dashboard-available-apps
{
	width: 100%;
	margin: 30px 0px;
}

.dashboard-app-group-title
{
	width: 70%;
	font-size: 150%;
	float: left;
}

.dashboard-app-group-more
{
	width: 30%;
	text-align: center;
	color: #FFFFFF;
	background-color: #b2cb39;
	border-color: #cbe35c;
	border-style: solid;
	border-width: 1px;
	max-width: 200px;
	float: right;
}

.dashboard-app-group-list
{
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;
	height: 178px;
}

.dashboard-app-group-container
{
	margin: 0;
	text-align: left;
	vertical-align: top;
	margin-bottom: 15px;
	height: 161px;
	overflow : hidden;
}

.dashboard-app-block
{
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	background-color: #FFFFFF;
	width: 105px;
	min-height: 100px;
	max-height: 200px;
	box-shadow: 1px 1px 5px #888888;
	margin: 5px 1px;
}

.dashboard-app-block-icon
{
	padding: 2px;
	width: 100px;
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 15px;
}

.dashboard-app-block-play
{
	float: right;
	padding-right: 3px;
	padding-top: 3px;
	color: #b2cb39;
}

.dashboard-app-block-title
{
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	max-height: 50px;
}

/* ------------------------------ Login ------------------------------ */

.login-details-notice
{
	position: absolute;
	bottom: 2%;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
}

.login-title-container
{
	margin: 0px auto;
	max-width: 100%;
	text-align: center;
}

.login-title
{
	margin: auto;
	max-width: 100%;
}

.login-body
{
	background-image: url('../media/app_login_backdrop.png');
	background-color: #0f8bc0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	/* Added 27/6 -- works for Angular */
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.login-field
{
	margin: 10px 0px;
}

.login-field i
{
	color: black;
}

.login-field.btn
{
	background-color: #0c6f9a;
}

.login-body a
{
	color: white;
}

.login-container
{
	min-height: 100%
}

.login-form-container
{
	color: white;
}

.page-has-navbar
{
	margin-top: 70px;
}

.installed-app-list
{
	color: white;
}

version-info
{
	font-weight: bold;
	color: #fff;
}

/*  ------------------------------ For App Details Page ------------------------------ */

.app-details
{
	min-height: 70%;
}

.row.app-details-row
{
	padding: 0px;
}

.app-picture-large
{
	display:block;
	margin: auto;
	max-width: 100%
}

.app-details-row
{
	margin: 1.5% 0px;
}

.app-details-row h4
{
	padding: 0px;
}

.app-details img
{
	display: block;
}

.app-details h3
{
	text-align: center;
}

/* ------------------------------ For list of downloaded/installed apps.  ------------------------------*/

.user-load-gif
{
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 70px;
}

.app-list
{
	display: table;
	width: 100%;
}

.app-badge
{
	/*outline: 1px solid #aaa;
	border: 1px solid #aaa;*/

	border-radius: 3px;
	text-align: center;
	vertical-align: top;
	min-height: 80px;
	max-height: 80px;
	box-shadow: 1px 1px 5px #888888;
	margin: 0px 1px;
	width: 100%;
	overflow: hidden;
	margin: 10px 0px;
	display: table;
	padding-left: 2px;
	background-color: #FFFFFF;
}

.app-badge-image
{
	padding: 0;
	overflow: hidden;
	width: 30%;
	display: table-cell;
	vertical-align: middle;
}

.app-badge-image img
{
	margin: auto;
	width: 100%;
}


.app-badge-description
{
	margin: 0px;
	padding: 10px;
	display: table-cell; height: 100%; 
	vertical-align: middle;
	width: 60%;
}

.app-badge-description:active
{
	background-color: #eee;
}

.app-badge-action
{
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	display: table-cell;
	height: 100%;
	width: 100%;
}

.app-badge-download
{
	background-image: url('../media/download_icon.png');
}

.app-badge-download:active
{
	background-image: url('../media/download_icon.png');
}

/*	------------------------------ Clear button styles --------------------------------- */

.btn-clear
{
	background-color: #fff;
}

.btn-clear:active
{
	background-color: #eee;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

/*	------------------------------ Offline Details  --------------------------------- */
.offline-message
{
	color: white;
	text-align: center;
}