<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="title-text navbar-back" onclick="history.back();">&lt;</div>
    <div class="navbar-brand title-text">
      Scratch Apps
    </div>
</div>


<div class="container page-has-navbar">

	<!-- {{friendsApps}} -->
	<!-- {{userApps.display}} -->

	<!-- Display navigation buttons -->
	<div>

		<!-- User apps button -->
		<a href="{{ '#/user/' + userID }}"><button type="submit" class="col-xs-6 btn btn-success dashboard-top-buttons">{{userID}}</button></a>

		<!-- Friends list -->
		<a href=><button type="submit" class="col-xs-6 btn btn-info dashboard-top-buttons" ng-repeat="Friend in friendsApps">{{Friend.username}}</button></a>
		<!-- <button type="submit" class="col-xs-6 btn btn-warning dashboard-top-buttons">Friend #2</button>
		<button type="submit" class="col-xs-6 btn btn-danger dashboard-top-buttons">Friend #3</button>
		<button type="submit" class="col-xs-6 btn btn-primary dashboard-top-buttons">Friend #4</button> -->

	</div>

	<!-- Available apps -->
	<div class="col-xs-12 dashboard-available-apps">

		<!-- User apps -->
		<table class="dashboard-app-group-table">

			<!-- Title row -->
			<tr> <td>
				<div class="dashboard-app-group-title"> My Apps </div>
				<a href="{{ '#/user/' + userID }}"><div class="dashboard-app-group-more"> See More </div></a>
			</td> </tr>

			<!-- App list row -->
			<tr> <td class="dashboard-app-group-list">

				<div class="dashboard-app-block" ng-repeat="DisplayItem in userApps.display" ng-click="NavigateToProject(DisplayItem);">
					<img src="http://cdn2.scratch.mit.edu/get_image/project/{{DisplayItem.projectId}}_192x192.png" class="dashboard-app-block-icon"></img>
					<br/>{{DisplayItem.title}}
					<br/>{{userID}}
					<br/><span class="dashboard-app-block-play" ng-click="NavigateToPlayer(DisplayItem);">PLAY</span>
				</div>

			</td> </tr>

		</table>

		<!-- Friend apps -->
		<table class="dashboard-app-group-table" ng-repeat="Friend in friendsApps" ng-show="Friend.display.length > 0">

			<!-- Title row -->
			<tr> <td>
				<div class="dashboard-app-group-title"> {{Friend.username}} </div>
				<a href="{{ '#/user/' + Friend.username }}"><div class="dashboard-app-group-more"> See More </div></a>
			</td> </tr>

			<!-- App list row -->
			<tr> <td class="dashboard-app-group-list">

				<div class="dashboard-app-block" ng-repeat="DisplayItem in Friend.display" ng-click="NavigateToProject(DisplayItem);">
					<img src="http://cdn2.scratch.mit.edu/get_image/project/{{DisplayItem.projectId}}_192x192.png" class="dashboard-app-block-icon"></img>
					<br/>{{DisplayItem.title}}
					<br/>{{Friend.username}}
					<br/><span class="dashboard-app-block-play" ng-click="NavigateToPlayer(DisplayItem);">PLAY</span>
				</div>

			</td> </tr>

		</table>

	</div>


</div>