<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="title-text navbar-back" onclick="history.back();">&lt;</div>
    <div class="navbar-brand title-text">
      Scratch Apps
    </div>
</div>


<div class="container page-has-navbar">

	<!-- Display navigation buttons -->
	<div>

		<!-- User apps button -->
		<button type="submit" class="col-xs-6 btn btn-success dashboard-top-buttons">{{userID}}</button>

		<!-- Add friend button -->
		<button type="submit" class="col-xs-6 btn btn-primary dashboard-top-buttons">Add Friend +</button>

		<!-- Friends list -->
		<button type="submit" class="col-xs-6 btn btn-info dashboard-top-buttons">Friend #1</button>
		<button type="submit" class="col-xs-6 btn btn-warning dashboard-top-buttons">Friend #2</button>
		<button type="submit" class="col-xs-6 btn btn-danger dashboard-top-buttons">Friend #3</button>

	</div>

	<!-- Available apps -->
	<div class="col-xs-12 dashboard-available-apps">

		<!-- Featured apps -->
		<table class="dashboard-app-group-table">

			<!-- Title row -->
			<tr> <td>
				<div class="dashboard-app-group-title"> Featured Apps </div>
				<div class="dashboard-app-group-more"> See More </div>
			</td> </tr>

			<!-- App list row -->
			<tr> <td class="dashboard-app-group-list">

				<div class="dashboard-app-block">
					<img src="http://cdn2.scratch.mit.edu/get_image/project/24467118_192x192.png" class="dashboard-app-block-icon"></img>
					<br/>App Name
					<br/>Author Name
					<br/><span class="dashboard-app-block-play">PLAY</span>
				</div>

				<div class="dashboard-app-block">
					<img src="http://cdn2.scratch.mit.edu/get_image/project/24467118_192x192.png" class="dashboard-app-block-icon"></img>
					<br/>App Name
					<br/>Author Name
					<br/><span class="dashboard-app-block-play">PLAY</span>
				</div>

				<div class="dashboard-app-block">
					<img src="http://cdn2.scratch.mit.edu/get_image/project/24467118_192x192.png" class="dashboard-app-block-icon"></img>
					<br/>App Name
					<br/>Author Name
					<br/><span class="dashboard-app-block-play">PLAY</span>
				</div>

			</td> </tr>


		<!-- User apps -->

		<!-- Friend apps -->

		</table>

	</div>


</div>