<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="title-text navbar-back" onclick="history.back();">&lt;</div>
    <div class="navbar-brand title-text">
      {{userIDCapitalised}} Dashboard
    </div>
</div>

<div class="container page-has-navbar" load-on-vertical-scroll loading-next-page="loadingNextChunk" another-page="followersLeft" load-next-page="loadNextFollowerChunk()" ng-hide="error">

	<!-- Display navigation buttons -->
	<div style="text-align: center;">

		<!-- User and friends apps button -->
		<a href="{{ '#/user/' + userID }}"><button type="submit" class="btn btn-success dashboard-top-buttons">{{userID}}</button></a><a ng-repeat="Friend in friendsApps" href="{{ '#/user/' + Friend.username }}" ng-hide="(showAllFriends == false) && ($index >= 5)"><button type="submit" class="btn btn-info dashboard-top-buttons">{{Friend.username}}</button></a><button type="submit" class="btn btn-success dashboard-top-buttons" ng-hide="showAllFriends || friendsApps.length <= 5" ng-click="toggleAllFriends()">More...</button><button type="submit" class="btn btn-success dashboard-top-buttons" ng-show="showAllFriends" ng-click="toggleAllFriends()">Less...</button>

		<!-- <button type="submit" class="col-xs-6 btn btn-warning dashboard-top-buttons">Friend #2</button>
		<button type="submit" class="col-xs-6 btn btn-danger dashboard-top-buttons">Friend #3</button>
		<button type="submit" class="col-xs-6 btn btn-primary dashboard-top-buttons">Friend #4</button> -->

	</div>

	<script>

	    // Calculate the height and width which can be used
	    var WorkHeight = $('body').height();
	    var WorkWidth = $('body').width() - 15 * 2;

	    // Get width of margins as an integer
	    var marginWidth = parseInt($('.dashboard-top-buttons').css('margin-left').replace('px', '')) +
	                      parseInt($('.dashboard-top-buttons').css('margin-right').replace('px', '')) + 10;
	    
	    // Calculate the size for the dashboard buttons
	    var ButtonWidth = 150;
	    for (var count = 0; count < 5; count ++)
	    {
	    	if (WorkWidth > count * 130 && WorkWidth <= (count+1) * 130)
	    	{
	    		ButtonWidth = ((WorkWidth - count * marginWidth) / count);
	    	}
	    }

	    // Apply sizing to navigation top buttons
	    $('.dashboard-top-buttons').css('width', ButtonWidth.toString() + 'px');

	</script>

	<script id='code_1'>

		$(function() {			
			//Enable swiping...
			$("#test").swipe( {

				swipeLeft: LeftSwipe,
				swipeRight: RightSwipe,
				//swipeUp: UpSwipe,
				//swipeDown: DownSwipe,

				allowPageScroll: 'auto'

			});

			// Directional swiping functions
			function LeftSwipe(event, direction, distance, duration, fingerCount, fingerData)
			{
			}

			// Directional swiping functions
			function RightSwipe(event, direction, distance, duration, fingerCount, fingerData)
			{
			}

			// Directional swiping functions
			function UpSwipe(event, direction, distance, duration, fingerCount, fingerData)
			{
			}

			// Directional swiping functions
			function DownSwipe(event, direction, distance, duration, fingerCount, fingerData)
			{
			}

		});

	</script>

	<!-- Available apps -->
	<div class="dashboard-available-apps">

		<!-- User apps -->
		<div ng-show="userApps.length > 0">

			<!-- Title -->
			<div class="dashboard-app-group-title"> My Apps </div>
			<a href="{{ '#/user/' + userID }}"><div class="dashboard-app-group-more">See More</div></a>

			<!-- Clear float settings -->
			<div style="clear:both;"></div>

			<!-- App list row -->
			<div class="dashboard-app-group-container">
				<div class="dashboard-app-group-list" scrollable>
					<div class="dashboard-app-block" ng-repeat="DisplayItem in userApps" ng-click="NavigateToProject(DisplayItem);">
						<img ng-src="http://cdn2.scratch.mit.edu/get_image/project/{{DisplayItem.projectId}}_192x192.png" class="dashboard-app-block-icon"></img>
						<br/><span class="dashboard-app-block-title">{{DisplayItem.title}}</span>
						<br/><span class="dashboard-app-block-play" ng-click="NavigateToPlayer(DisplayItem);">PLAY</span>
					</div>
				</div>
			</div>

		</div>

		<!-- Friend apps -->
		<div ng-repeat="Friend in friendsApps" ng-show="Friend.projects.length > 0">

			<!-- Title -->
			<div class="dashboard-app-group-title"> {{Friend.username}} </div>
			<a href="{{ '#/user/' + Friend.username }}"><div class="dashboard-app-group-more">See More</div></a>

			<!-- Clear float settings -->
			<div style="clear: both;"></div>

			<!-- App list row -->
			<div class="dashboard-app-group-container">
				<div class="dashboard-app-group-list" scrollable>
					<div class="dashboard-app-block" ng-repeat="DisplayItem in Friend.projects" ng-click="NavigateToProject(DisplayItem);">
						<img ng-src="http://cdn2.scratch.mit.edu/get_image/project/{{DisplayItem.projectId}}_192x192.png" class="dashboard-app-block-icon"></img>
						<br/><span class="dashboard-app-block-title">{{DisplayItem.title}}</span>
						<br/><span class="dashboard-app-block-play" ng-click="NavigateToPlayer(DisplayItem);">PLAY</span>
					</div>
				</div>
			</div>

		</div>

		<!-- Loading spinner for next chunk of projects -->
		<div class="user-load-gif" style="background-image: url('media/loading_spinner.gif');" ng-show="loadingNextChunk && finishedLoading"></div>

	</div>

</div>

<!-- Hide background from view -->
<div class="dashboard-load-overlay" ng-hide="finishedLoading">

	<!-- Wills loader (may return to this one) -->
	<!-- <div id="loader" class="spinner" style="width: 100%; height: 100%; text-align: center;"></div> -->

	<!-- Centeralise animated loading icon -->
	<div class="dashboard-load-gif" style="background-image: url('media/loading_spinner.gif');">  </div>

</div>

<div class="container alert alert-danger page-has-navbar" ng-show="error"><b>Oh dear.</b> An error occurred. Perhaps you entered in the wrong username? The error code is: {{error.error}}.</div>

<div class="container alert alert-danger page-has-navbar" ng-show="userHasNoProjects && userHasNoFollowers">Your dashboard is empty -- please publish some projects or add some followers!</div>
<div class="container alert alert-info page-has-navbar" ng-show="userHasNoProjects && !userHasNoFollowers">You don't seem to have any published projects. Why don't you make this dashboard better by adding some?</div>
<div class="container alert alert-info page-has-navbar" ng-show="userHasNoFollowers && !userHasNoProjects">You don't seem to have any followers. Why don't you make this dashboard better by adding some?</div>
