<div class="login-body" style="height: 100%; width: 100%;">
	

  	<!-- Centeralising content divs -->
	<div style="display: table; margin:auto; height: 90%; width: 90%;">
	<div style="display: table-cell; vertical-align: middle;">
	<div style="margin-left: auto; margin-right: auto; width: 100%;">

		<!-- Main container -->
		<div class="container" >

			<!-- Login page title image -->
			<div class="login-title-container">
				<img src="media/scratch_large_logo.png" class="login-title"></img>
			</div>

			<!-- Login details and submission button -->
			<div class="row login-form-container">
					<!-- Login details and submission button -->
					<div class="login-form-container">
						<!-- Add a new project: -->
						<div class="row">
							<form action="{{ '#/user/' + userId }}">

								<!-- Username input box and glyph  -->
								<!-- <div class="col-xs-12 left-inner-addon login-field">
									<i class="glyphicon glyphicon-user"> </i>
									<input type="text" ng-model="userId" placeholder="Username" class="form-control" required />
								</div> -->

								<!-- Password input box and glyph  -->
								<!-- <div class="col-xs-12 left-inner-addon login-field">
									<i class="glyphicon glyphicon-lock"> </i>
									<input type="text" ng-model="projectId" placeholder="Project ID" class="form-control" ng-change="checkForScratchLink()" required />
								</div> -->

								
								<div class="col-xs-12 login-field">
									<input type="submit" value="Go!" class="col-xs-12 btn btn-primary login-field" />
								</div>

							</form>
						</div>
					</div>

				<!-- <div class="installed-app-list" ng-show="installedProjects">
					<a class="col-xs-12 btn btn-primary login-field" href="#/installed/">Installed Projects</a>
				</div> -->

			</div>

			<div class="login-details-notice">
				<strong>Version Number &amp; Copyright</strong>
			</div>

		</div>

	<!-- Close centeralised divs -->
	</div> </div> </div>

</div>