<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="title-text navbar-back" onclick="history.back();">&lt;</div>
    <div class="navbar-brand top-border title-text">App Details</div>
</div>

<div class="page-has-navbar container">

	<!-- Check to see if project is defined - check the project.title attr -->
	<div class="app-details" ng-show="project.title">

		<!-- Show relevant things -->
  		<h1 class="col-xs-12">{{project.title}}</h1>
  		<h3 class="col-xs-12">by {{project.creator.username}}</h3>

  		<img class="app-picture-large" ng-style="calcImageWidth()" ng-src="{{project.thumbnail}}" alt="{{project.title + ' Thumbnail'}}" />

  		<div class="row app-details-row">
  			<h4 class="col-xs-8">Shared {{project.datetime_shared | dateTimeToReadable}}</h4>
  			  <a class="col-xs-4 btn btn-primary download-play-btn" href="{{'/scratch-player/' + projectId + '#showflags=' + showflags + '&autostart=' + autostart}}">Play</a>
  		</div>

      <label>
        <input type="checkbox" ng-model="showflags" ng-true-value="false" ng-false-value="true" checked="checked">
         Hide play and stop flags?
      </label>

      <br/><label>
        <input type="checkbox" ng-model="autostart" ng-true-value="true" ng-false-value="false" checked="checked">
         Automatically start the app playing?
      </label>

  		<!-- Run description through the newLine filter (def. in filters.js) in order to format the description with new lines. -->
  		<div class="app-description" ng-bind-html="project.description | newLine"> </div>

	</div>

	<!-- If not defined, then project doesn't exist. -->
	<div ng-hide="project.title">
		
    <div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-color: #e5e5e5;" ng-show="loading">
      <div id="dashboardloader">
        <img src="media/loading_spinner.gif" style="width: 48px; height: 48px; text-align: center; margin: auto;"></img>
      </div>

  </div>

    <!-- If it's not published then see if the project exists and display a relevant message. -->
    <p ng-show="!loading && !projectExists">This project hasn't been published. This project also doesn't exist. </p>
    <p ng-show="!loading && projectExists">This project hasn't been published. However, the project exists. Click <a href="/scratch-player/{{projectId}}">here</a> to play it.</p>
	</div>
</div>