<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-brand title-text">
      Installed Projects
    </div>
</div>

<div class="container page-has-navbar">

	<div ng-show="userProjectsExist">
		
		<div class="app-list">


			<div class="app-badge" ng-repeat="userproject in userProjectList" ng-click="playProject(project);">
				<div class="app-badge-image">
					<img ng-src="http://cdn2.scratch.mit.edu/get_image/project/{{userproject.id}}_192x192.png">
				</div>
	        	<div class="app-badge-description">
	            	<h4>{{userproject.name}}</h4> 
	        	</div>
			</div>


		</div>

	</div>
	<div ng-hide="userProjectsExist">
		You do not seem to have any projects downloaded.
	</div>

</div>