<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="title-text navbar-back" onclick="history.back();">&lt;</div>
    <div class="navbar-brand title-text">
      {{userId}}'s Projects
    </div>
</div>

<div class="container page-has-navbar">

	<div ng-show="!error && projectList">
		
		<div class="app-list">


			<div class="dashboard-app-block app-badge" ng-repeat="project in projectList" ng-click="playProject(project);">
				<div class="app-badge-image">
					<img ng-src="http://cdn2.scratch.mit.edu/get_image/project/{{project.projectId}}_192x192.png">
				</div>
	        	<div class="app-badge-description">
	            	<h4>{{project.title}}</h4> 
	        	</div>
			</div>


		</div>
		<div ng-show="anotherPage"><a ng-click="loadNextPage()">Load more projects</a></div>
	</div>
	<div ng-show="!error && projectList == []" class="alert alert-info">
		You do not seem to have any projects shared. Please go to the Scratch website and share your project.
	</div>
	<div ng-show="error" class="alert alert-danger">
		That user account doesn't exist. Please go back and try again.
	</div>


</div>