<!DOCTYPE html>
<html style="width: 100%; height: 100%;" manifest='/manifest/<%= projectId %>'>
<head>
    <meta charset=utf-8>
    <title>Scratch App</title>

    <!-- iPad properties: set width, disable pinch zoom -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="http://cdn2.scratch.mit.edu/get_image/project/<%= projectId %>_196x196.png">
    <link rel="icon" sizes="128x128" href="http://cdn2.scratch.mit.edu/get_image/project/<%= projectId %>_128x128.png">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="player.css">
    <link rel="stylesheet" href="index.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script> var projectId = "<%= projectId %>"; </script>

</head>

    <body style="width: 100%; height: 100%; background-color: #000000;">

        <div class="install-message">Press the menu button above to add this app to your home screen.</div>

        <div class="player-loading"><div class="downloading-text"></div></div>


        <div id="preloader">
            <div id="preloader-info-container">
                <div id="preloader-progress"><div id="preloader-progress-bar"></div></div>
                <div id="preloader-caption">Loading project&hellip;</div>
                <div id="preloader-details"></div>
            </div>
        </div>

        <div id="trigger-green-flag" tabindex="2"></div>
        <div id="trigger-stop" tabindex="3"></div>

        <div id="player-container">
           <!--  <div id="player-header">
                <div id="player-header-preload"></div>
                <div id="player-header-version">HTML5</div>
                <button id="toggle-fullscreen" tabindex="1"></button>
                <button id="trigger-stop" tabindex="3"></button>
                <button id="trigger-green-flag" tabindex="2"></button>
            </div> -->

            <!--<div id="player-content">-->
                <div id="container"></div>
                <div id="overlay"></div>
            <!--</div>-->

        </div>

        <!-- <div id="ppitest" style="width:1in;visible:hidden;padding:0px"></div> -->

        <script type="text/JavaScript" src="Scratch.js"></script>
        <script type="text/javascript">
          (function() {
            var project_id = projectId || location.hash && parseInt(location.hash.substr(1)) || 10000160;
            new Scratch(project_id);
          }());
        </script>

    </body>
</html>