<!DOCTYPE html>
<html manifest='/manifest/<%= projectId %>' style="width: 100%; height: 100%;">
<head>
    <meta charset=utf-8>
    <title>Scratch HTML5</title>

    <!-- iPad properties: set width, disable pinch zoom -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="http://cdn2.scratch.mit.edu/get_image/project/<%= projectId %>_196x196.png">
    <link rel="icon" sizes="128x128" href="http://cdn2.scratch.mit.edu/get_image/project/<%= projectId %>_128x128.png">
    <meta name="mobile-web-app-capable" content="yes">
    <!--<meta name="viewport" content="user-scalable=yes, width=540, height=360">-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="player.css">
    <link rel="stylesheet" href="index.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script> var projectId = <%= projectId %>; </script>

</head>

    <body style="width: 100%; height: 100%; background-color: #000000;" onresize = AdjustPlayerDimensions();>

        <div class="player-loading"><div class="downloading-text"></div></div>

        <div id="player-container">
            <div id="player-header">
                <div id="player-header-preload"></div>
                <div id="player-header-version">HTML5</div>
                <button id="toggle-fullscreen" tabindex="1"></button>
                <button id="trigger-stop" tabindex="3"></button>
                <button id="trigger-green-flag" tabindex="2"></button>
            </div>
            <div id="player-content">
                <div id="container"></div>
                <div id="overlay"></div>
                <div id="preloader">
                    <div id="preloader-progress"><div id="preloader-progress-bar"></div></div>
                    <div id="preloader-caption">Loading project&hellip;</div>
                    <div id="preloader-details"></div>
                </div>
            </div>
        </div>

        <div id="ppitest" style="width:1in;visible:hidden;padding:0px"></div>

        <script type="text/JavaScript">

            // Function to calculate dimensions
            function AdjustPlayerDimensions()
            {

                // Get the dimensions of the window
                var height = window.innerHeight;
                var width = window.innerWidth;
                //console.log(width + "x" + height);
                $("canvas").height(height);7
                $("canvas").width(height * 1.33);

                console.log('PPI: ' + document.getElementById('ppitest').offsetWidth);
                console.log('Outer: ' + window.outerWidth + 'x' + window.outerHeight);
                console.log('Inner: ' + window.innerWidth + 'x' + window.innerHeight);
                console.log('Body: ' + $("body").width() + 'x' + $("body").height());
                console.log('Screen: ' + screen.width + 'x' + screen.height)

                // Set default player width and height
                var PlayerWidth = 640;
                var PlayerHeight = 480 + 38;
                var AspectRatio = 640/480;

                // Make sure the width/height ratios are acceptable
                if (width / height > AspectRatio)
                {
                    PlayerHeight = height-4;
                    PlayerWidth = PlayerHeight * AspectRatio -4;
                } else {
                    PlayerWidth = width-4;
                    PlayerHeight = PlayerWidth / AspectRatio -4;
                }

                // Calculate size variables for components
                var HeaderWidth = PlayerWidth;
                var HeaderHeight = 38;
                var StageWidth = PlayerWidth;
                var StageHeight = PlayerHeight - HeaderHeight;

                //$('body').height(window.outerHeight);
                //$('body').paddingTop(window.outerHeight - PlayerHeight)
                var CurrentHeight = $('html').height();
                document.getElementsByTagName("body")[0].style.paddingTop = ((CurrentHeight - PlayerHeight) / 2).toString() + 'px';
                $('body').height(CurrentHeight - (CurrentHeight - PlayerHeight))

                // Set document element sizes
                //$('player-container').top(window.outerHeight - PlayerHeight);
                $("#player-container").width(PlayerWidth);
                $("#player-container").height(PlayerHeight);
                $("#player-header").width(HeaderWidth);
                $("#player-header").height(HeaderHeight);
                $("#player-content").width(StageWidth);
                $("#player-content").height(StageHeight);
                    
                $("#container").width(StageWidth);
                $("#container").height(StageHeight);
                $("#overlay").width(StageWidth);
                $("#overlay").height(StageHeight);

                //$("#player-container").attr('margin', 'auto');

                // Set document element properties
                //PContainer.attr('width', PlayerWidth+2);
                //PHeader.attr('width', PlayerWidth+2);

            }

            // Set dimensions of player
            AdjustPlayerDimensions();

            var supportsOrientationChange = "onorientationchange" in window,
                orientationEvent = supportsOrientationChange ? "orientationchange" : "resize";

            window.addEventListener(orientationEvent, AdjustPlayerDimensions(), false);

        </script>

        <script type="text/JavaScript" src="Scratch.js"></script>
        <script type="text/javascript">
          (function() {
            var project_id = projectId || location.hash && parseInt(location.hash.substr(1)) || 10000160;
            new Scratch(project_id);
          }());
        </script>

    </body>
</html>