<!DOCTYPE html>
<html manifest='/manifest/<%= projectId %>'>
<head>
    <meta charset=utf-8>
    <title>Scratch HTML5</title>

    <!-- iPad properties: set width, disable pinch zoom -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="http://cdn2.scratch.mit.edu/get_image/project/<%= projectId %>_196x196.png">
    <link rel="icon" sizes="128x128" href="http://cdn2.scratch.mit.edu/get_image/project/<%= projectId %>_128x128.png">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=yes, width=480">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="player.css">
    <link rel="stylesheet" href="index.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script> var projectId = <%= projectId %>; </script>
    <script>
        // projectID is passed in via the node server.
        
        // Check to see if the project id exists
        if(projectId === "")
        {
            alert("No project ID.");
        } else {
            // If so, set the HTML manifest to the manifest file.

            var appCache = window.applicationCache;
            
            // Bind events for the app cache status updates. 
            appCache.onprogress = function(e) {
                $(".downloading-text").text("Downloading: " + e.loaded + "/" + e.total);
            }

            appCache.oncached = function(e) {
                $(".downloading-text").text("Downloaded!");
                $(".downloading-text").fadeOut();
                $(".player-container").fadeIn();
            }

            appCache.onnoupdate = function(e) {
                $(".downloading-text").text("No updates available.");
                $(".downloading-text").fadeOut();
                $(".player-container").fadeIn();
            }

            appCache.onupdateready = function(e) {
                console.log("Updating AppCache");
                appCache.swapCache();
                appCache.oncached(e);
            }

            appCache.onchecking = function(e) {
                $(".downloading-text").text("Checking for updates...");
            }

            appCache.onerror = function(e) {
                $(".player-loading").css({display: "none"});
                $(".player-container").css({display: "block"});
            }

            appCache.onobsolete = function(e) {
                $(".player-loading").css({display: "none"});
                $(".player-container").css({display: "block"});
            }

            // Request to update the appcache
            console.log($("html").attr("manifest"));
            appCache.update();

            // Get the dimensions of the window
            var height = $(window).height();
            var width = $(window).width();
            console.log(width + "x" + height);

            $("canvas").height(height);
            $("canvas").width(height * 1.33);
        }
    </script>
</head>
    <body>
    <div class="player-loading"><div class="downloading-text"></div></div>
    <div id="player-container">
        <div id="player-header">
            <div id="player-header-preload"></div>
            <div id="player-header-version">HTML5</div>
            <button id="toggle-fullscreen" tabindex="1"></button>
            <button id="trigger-stop" tabindex="3"></button>
            <button id="trigger-green-flag" tabindex="2"></button>
        </div>
        <div id="player-content">
            <div id="container"></div>
            <div id="overlay"></div>
            <div id="preloader">
                <div id="preloader-progress"><div id="preloader-progress-bar"></div></div>
                <div id="preloader-caption">Loading project&hellip;</div>
                <div id="preloader"-details></div>
            </div>
        </div>
    </div>

    <script type="text/JavaScript" src="Scratch.js"></script>
    <script type="text/javascript">
      (function() {
        var project_id = projectId || location.hash && parseInt(location.hash.substr(1)) || 10000160;
        new Scratch(project_id);
      }());
    </script>
</body>
</html>